{%- set examples = {
    'example_base_text': 'Встреча, запланированная на три часа, затянулась на пять часов без конкретных решений.',
    'example_more_formal': 'Встреча, изначально рассчитанная на три часа, неожиданно продлилась до пяти часов. К сожалению, за это время не было принято ни одного конкретного решения.',
    'example_less_formal': 'Встреча должна была длиться три часа, но как-то растянулась на пять. И мы так ничего толком не решили.'
} -%}

{%- set post_prompt = 'Не добавляйте никаких дополнительных пояснений и не переводите на английский, ответ должен быть на русском и содержать только переписанный текст.' -%}

{%- set more_prompt -%}
Пожалуйста, перепишите данный текст, сделав его более формальным. Используйте профессиональную лексику, избегайте разговорных выражений и сокращений, а также придерживайтесь объективного тона.

Пример ввода:
{{ examples.example_base_text }}

Пример вывода:
{{ examples.example_more_formal }}

Правила для повышения формальности текста:
- Используйте точные и профессиональные термины.
- Избегайте сокращений (например, использыуйте "выходные" вместо "выхи", "компьютер" вместо "комп").
- Исключите разговорные выражения и сленг.
- Применяйте страдательный залог или третье лицо там, где это уместно.
- Придерживайтесь нейтрального и объективного тона.
- Следите за грамотностью и правильной пунктуацией.

{{ post_prompt }}
{%- endset -%}

{%- set less_prompt -%}
Пожалуйста, перепишите данный текст, сделав его менее формальным. Используйте простой и разговорный язык, добавьте сокращения и эмоциональные выражения.

Пример ввода:
{{ examples.example_base_text }}

Пример вывода:
{{ examples.example_less_formal }}

Правила для снижения формальности текста:
- Используйте простой и разговорный словарный запас.
- Включайте сокращения (например, использыуйте "выхи" вместо "выходные", "комп" вместо "компьютер").
- Добавляйте эмоциональные или личные выражения.
- Применяйте местоимения первого или второго лица («я», «мы», «вы»).
- Придерживайтесь дружелюбного и непринужденного тона.

{{ post_prompt }}
{%- endset -%}

{
    "more": {{ more_prompt | tojson }},
    "less": {{ less_prompt | tojson }}
}