{%- set examples = {
    'example_base_text': 'Встреча, запланированная на три часа, затянулась на пять часов без конкретных решений.',
    'example_more_persuasive': 'Встреча, изначально запланированная на три часа, растянулась до пяти часов — явное свидетельство неэффективности. Это потерянное время могло быть использовано для решения важных вопросов и принятия значимых решений. Настало время пересмотреть подход к проведению встреч, чтобы повысить продуктивность и добиться конкретных результатов.'
} -%}

{%- set post_prompt = 'Не добавляйте никаких дополнительных пояснений и не переводите на английский, ответ должен быть на русском и содержать только переписанный текст.' -%}

{%- set more_prompt -%}
Пожалуйста, перепишите данный текст, сделав его более убедительным. Используйте такие техники, как эмоциональные обращения, логические аргументы, примеры из жизни и риторические приёмы для усиления убедительности.

Пример ввода:
{{ examples.example_base_text }}

Пример вывода:
{{ examples.example_more_persuasive }}

Правила для увеличения убедительности текста:
- Используйте эмоциональные обращения: добавьте язык, который вызывает чувства или сочувствие.
- Применяйте логические аргументы: подкрепляйте свои мысли фактами, цифрами или реальными примерами.
- Включайте риторические приёмы: задавайте вопросы, повторяйте ключевые идеи или используйте сравнения.
- Указывайте выгоды: объясните читателю, почему ваше предложение важно и как оно решает его проблемы.
- Закрывайте возражения: предугадывайте возможные вопросы или сомнения и отвечайте на них заранее.
- Добавьте призыв к действию: чётко укажите, что нужно сделать после прочтения текста.

{{ post_prompt }}
{%- endset -%}

{
    "more": {{ more_prompt | tojson }},
    "less": ""
}